- meta title: 'Your own dictionary',
  description: 'Create your own dictionary',
  keywords: %w(dictionary with-synonym with-antonym)
%div.row
  %div.col.align-self-center
    %h1 Dictionary

    = form_tag(home_index_path, method: :get, class: 'form-inline search-form') do
      %div.row.justify-content-start.search-word
        %input.form-control.col-8{"type" => "text", "placeholder" => "Search for...", "aria-label" => "Search for...", "name" => "q"}
        %button.btn.btn-outline-success.search-button.col-2{"type" => "submit"} Go!
    - if @word
      %h2= @word.name
      %span= @pronunciation.try(:phonetic_spelling)
      %ul
        %li= @word.vn_meanings.first(4).join(", ")
        %image{"src" => @word.images[0], "width" => "400"}
        %image{"src" => @word.images[1], "width" => "400"}
        - if @meanings.present?
          - @meanings.each do |meaning|
            %li= meaning.definition.capitalize
            %div.examples= meaning.examples.pluck(:content).map(&:capitalize).join(' | ')
            - if meaning.synonyms.present?
              .synonyms
                Synonyms:
                = meaning.synonyms.pluck(:content).flatten.join(', ')
            - if meaning.antonyms.present?
              .antonyms
                Antonyms:
                = meaning.antonyms.pluck(:content).flatten.join(', ')
