- meta title: 'Listening Lessons',
  description: 'Listening and write script',
  keywords: %w(listening listen-and-write ielts 1-minute-listening)
- breadcrumb :listening_lessons
%h1 Listening Lessons
- length = @listening_lessons.length
- each_length = length / 2
%div= link_to 'New Listening Lesson', new_listening_lesson_path
.lesson-index
  - for i in 0..1 do
    %table.listening-table.col-md-6
      %thead
        %tr
          %th Name
          %th
          %th
          %th
      %tbody
        - @listening_lessons[i*each_length..(i+1)*each_length].each do |listening_lesson|
          %tr
            %td= listening_lesson.name
            %td= link_to 'Show', listening_lesson
            %td= link_to 'Edit', edit_listening_lesson_path(listening_lesson)
            %td
              - script = listening_lesson.submitted_scripts.find_by(user: current_user)
              - if script
                = link_to 'Re-listen', edit_listening_lesson_submitted_script_path(listening_lesson, script)
              - else
                = link_to 'Listen', new_listening_lesson_submitted_script_path(listening_lesson)
    %br
