- breadcrumb :lesson, @listening_lesson
%p#notice= notice

#display

%p
  %b Name:
  = @listening_lesson.name
%p
  = @listening_lesson.link
%p
  %audio.listening-audio{ controls: '' }
    %source{ src: @listening_lesson.link, type: 'audio/mpeg' }
    Your browser does not support the audio element.
%p
  %b Script:
  .answer-script= @listening_lesson.script

%h3 Submitted scripts from users
- @listening_lesson.submitted_scripts.each do |script|
  .user-script
    %span.italic-text
      Submitted by
      = script.user.fullname.presence || script.user.username.presence || script.user.email
    .script
      %p.script-content= script.content

= link_to 'Edit', edit_listening_lesson_path(@listening_lesson)
\|
= link_to 'Back', listening_lessons_path

:javascript
  $(document).ready(function() {
    var color = '', span = null;

    const answerScript = $(".answer-script")[0].textContent;
    $(".user-script .script").each(function(index, script) {
      const userScript = $(script).find(".script-content").text();
      var diff = Diff.diffWordsWithSpace(userScript, answerScript, { ignoreCase: true }),
      display = document.getElementById('display'),
      fragment = document.createDocumentFragment();

      diff.forEach(function(part){
        className = part.added ? 'text-added' : part.removed ? 'text-removed' : '';
        span = document.createElement('span');
        span.className = className;
        span.appendChild(document.createTextNode(part.value));
        fragment.appendChild(span);
      });

      script.appendChild(fragment);
    });
  });
