- breadcrumb :lesson, @listening_lesson
%p#notice= notice

#display

%p
  %b Name:
  = @listening_lesson.name
%p
  = @listening_lesson.link
%p
  %audio.listening-audio{ controls: '' }
    %source{ src: @listening_lesson.link, type: 'audio/mpeg' }
    Your browser does not support the audio element.
%p
  %b Script:
  .answer-script= @listening_lesson.script

%h3 Submitted scripts from users
- @listening_lesson.submitted_scripts.each do |script|
  %span.italic-text
    Submitted by
    = script.user.fullname || script.user.username
  %p.user-script= script.content

= link_to 'Edit', edit_listening_lesson_path(@listening_lesson)
\|
= link_to 'Back', listening_lessons_path

:javascript
  var one = 'beep boop',
  other = 'beep boob blah',
  color = '',
  span = null;

  const answerScript = $(".answer-script")[0].textContent;
  $(".user-script").each(function(index, script) {
    const userScript = script.textContent;
    var diff = Diff.diffWordsWithSpace(answerScript, userScript),
    display = document.getElementById('display'),
    fragment = document.createDocumentFragment();

    diff.forEach(function(part){
      color = part.added ? 'green' :
      part.removed ? 'red' : 'grey';
      span = document.createElement('span');
      span.style.color = color;
      span.appendChild(document
      .createTextNode(part.value));
      fragment.appendChild(span);
    });

    script.appendChild(fragment);
  });

